@font-face {
   font-family: 'Arvo';
   src: url('../fonts/Arvo-Bold.ttf') format('opentype');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'Arvo';
   src: url('../fonts/Arvo-BoldItalic.ttf') format('opentype');
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: 'Arvo';
   src: url('../fonts/Arvo-Regular.ttf') format('opentype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Arvo';
   src: url('../fonts/Arvo-Italic.ttf') format('opentype');
   font-weight: 900;
   font-style: italic;
}
